<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>admin</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Admin Management </h1>
		<hr>
		<h2>Add Admin</h2>

		<form action="#" th:action="@{/joinAdmin}" th:object="${admin}" 
			method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="email" th:field="*{email}" class="form-control mb-4 col-4">
				
				<input type="password" th:field="*{password}" class="form-control mb-4 col-4">
				
				
				<button type="submit" class="btn btn-info col-2"> Add Admin</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/vadmin}"> Back to Admin List</a>
	</div>
</body>
</html>